<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->


       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CloudAnnex</title>



  </head>
  <body>




{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

       {% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img src="{% static 'img/CloudAnnexLogo.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard2' %}">Dashboard</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'recordlist' %}">Customers</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'products2' %}">Products</a>
      </li>

    </ul>

        {% comment %}
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'recordlist' %}">Customers</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        {% endcomment %}

    <ul class="nav navbar-nav navbar-right list-group-horizontal">
      {% comment %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endcomment %}
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out "></span> Logout</a></li>
    </ul>
  </div>

</nav>
  {% endblock %}

<div class="container-fluid">
    <h1>HOMEPAGE</h1>
    <p> Hi {{ user }}!</p>

<!--
    <p><a href="{% url 'dashboard' %}">Dashboard</a></p>
    <p><a href="{% url 'recordlist' %}">Customers</a></p>
    <p><a href="{% url 'products' %}">Products</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
-->



      <div class="form-group">
          <label for="Search"></label>
                <input autocomplete="off" style="width: 250px" type="text" class="form-control" name="Search" id="Search" placeholder="Search">

            </div>
</div>
{% else %}
<section class="vh-100" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Welcome to CloudAnnex!</span>
                  </div>
                    <br>

                      <form autocomplete="off" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                          <a href="{% url 'login' %}" class="btn btn-dark btn-lg btn-block" type="button">Join CloudAnnex</a>
                      </form>

                    <br>
                    <br>
                    <br>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
                      <a href="{% url 'register' %}"
                      style="color: #393f81;">Sign Up</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endif %}

{% endblock %}

<!-- *No Scripts
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
